body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: skyblue;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
}

.task-creation {
    margin-bottom: 20px;
}

.task-creation input, .task-creation select, .task-creation button {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.task-creation button {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.task-creation button:hover {
    background-color: blue;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: white;
    border: 1px solid #ddd;
    margin: 5px 0;
    padding: 10px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

button {
    background-color: rgb(75, 75, 64);
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #c82333;
}